<div class="content-teams-shields">
  <div *ngFor="let team of teams" class="teams-shield">
    <div *ngIf="team.shield !==''" (click)="searchPlayerForTeam(team._id)" class="data-teams-shield">
      <img  src="{{team.shield}}">
      <div class="name-team">{{team.name}}</div>
    </div>
    <div *ngIf="team.shield ===''"  (click)="searchPlayerForTeam(team._id)"
         class="data-teams-not-shield">
      <img  src="https://upload.wikimedia.org/wikipedia/commons/5/53/Escudo_vac%C3%ADo.png">
      <div class="name-team">{{team.name}}</div>
    </div>
  </div>
</div>
